[Desktop Entry]
Encoding=UTF-8
Name=Joplin
Comment=Joplin for Desktop
Exec=/home/th4ntis/.joplin/Joplin.AppImage
Icon=joplin
StartupWMClass=Joplin
Type=Application
Categories=Office;
X-XFCE-Source=file:///home/th4ntis/.local/share/applications/appimagekit-joplin.desktop
